* {
    
}

html {
    scroll-snap-type: y mandatory;
}

a:hover {
    color: black;
    text-decoration: none;
    background-color: white;
}

/****************** Page Wide Stuff  ****************/
.Center {
    text-align: center;
    background-color: #1F1F1F;
}

.scrollcontainer{
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
}




/****************** Fonts *****************/
.SplashHeaderFont {
    font-family: Epilogue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.05em;
    color: white;
    margin: 10vh; 
}

.SplashMediumFont {
    font-family: Epilogue, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
}

.SplashHeavyFont {
    font-family: Epilogue;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
}

.SplashSmallFont {
    font-family: Epilogue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: white;
}


.MainBodyFont {
    font-family: Epilogue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: white;
}



/*************   ANIMATIONS     ************/
.SwipeUp{
    animation-name: bounce-3;
    animation-timing-function: ease;
    /* margin-top: 10vh; */
}

.TextArrow{
    /* align-self: flex-end; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bounce-3 {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(50px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}

/* .SwipeRight{
    animation-name: bounce-4;
    animation-timing-function: ease;
     margin-top: 10vh;
} */

/* @keyframes bounce-4 {
    0%   { transform: translateX(0); }
    30%  { transform: translateX(50px); }
    50%  { transform: translateX(0); }
    100% { transform: translateX(0); }
} */ 


/************    SCROLLING ANIMATION      ****************/
.section{
    scroll-snap-align: start;
    height: 100vh;
    margin-bottom: 20vh;
}


/*************** HOME PAGE *****************/

.Spacer{
    /* margin:10vh; */
}